*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    padding-top: 77px;
    font-family: 'Montserrat', sans-serif;
}

h2, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h3{
    font-family: 'Courgette', cursive;
    color: rgba(255, 255, 255, 0.8);
    font-size: 50px;
}

a{
    text-decoration: none;
    color: #e0e0e0;
    transition: 0.5s;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    border: 2px solid black;
    /* border-top-left-radius: 12px; */
    /* border-top-right-radius: 12px; */
    position: fixed;
    top: 0px;
    /* z-index: 1000; */
    background-color: #fff;
    /* position: sticky; */
    /* position: -webkit-sticky; */
    /* background-color: #1a1a1a; */
}

.logo-image{
    width: 200px;
    /* position: fixed; */
    /* left: 2px; */
    /* top: 80px; */
    /* border-radius: 50%; */
    /* border: 2px solid black; */
    height: 80px;
    object-fit: cover;
}

nav{
    transition: 0.5s;
}

.main-menu{
    min-width: 10%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 30px; */
    padding: 20px;
    list-style: none;
    /* background-color: #1a1a1a; */
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    color: #e0e0e0;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
    /* flex-wrap: wrap; */
    /* padding-top: 35px; */
    opacity: 0;
    position: fixed;
    left: 30px;
    top: 100px;
    font-weight: bold;
    gap: 10px;
}

.is-transparent{
    opacity: 1;
}

.main-menu > li{
    display: flex;
    width: 100%;
    height: 5vh;
    transition: 0.4s;
    align-items: center;
}

.main-menu > li:hover{
    color: #1a1a1a;
    border-left: 4px solid #fff;
    padding-left: 10px;
}

li{
    position: relative;
}

.sub-menu{
    display: none;
    position: absolute;
    left: 90px;
    top: 15px;
    background-color: #1a1a1a;
    color: #fff;
    width: 100px;
    list-style: none;
    text-align: center;
    border: 2px solid #fff;
}

.sub-menu>li:hover{
    background-color: #fff;
    color: #1a1a1a;
}

.sub-menu>li{
    transition: 0.5s;
    padding: 10px;
}

.products-menu-select:hover > .sub-menu{
    display: block;
}

header > img{
    width: 250px;
    height: auto;
}

.container{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container{
    transition: 0.5s;
}

.btn-container:hover{
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.8);
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 650px;
    overflow: hidden;
    background-image: url(./images/img-1.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin: 10px auto;
    border-radius: 12px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.3);
}

.content > .btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    /* background-color: rgba(128, 128, 128, 0.2); */
    border: 3px solid rgba(255, 255, 255, 0.8);
}

.content > .btn-container > button{
    width: 142px;
    height: 42px;
    background-color: rgba(128, 128, 128, 0.8);
    color: #fff;
    border: 1px solid #fff;
}

.banner-button{
    background-color: rgba(255, 255, 255, 0.8);
    width: 50px;
    height: 70px;
    font-size: x-large;
    border-radius: 12px;
    margin: 0 auto;
    transition: 0.5s;
}

.banner-button:hover{
    background-color: rgba(128, 128, 128, 0.5);
    transform: scale(1.05);
}

.menu-button-container{
    display: flex;
    background-color: white;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 12%;
    left: 10px;
    border: 2px solid black;
    transition: 0.4s;
}

.menu-button-container:hover{
    background-color: #848884;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* form */

.login-form-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.login-form{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    gap: 20px;
    padding: 20px;
    /* background-color: rgba(0, 0, 0, 0.7); */
    justify-content: center;
    transition: 0.5s;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    border: 2px solid #fff;
    background-image: url(./images/cattt.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.username-container ,.password-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.label-checkbox{
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
}

.login-form-button{
    width: 100px;
    height: 20px;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
    font-size: 12px;
    transition: 0.4s;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
}

.login-form-button:hover{
    background-color: #fff;
    color: black;
}

.login-form-label{
    color: #fff;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.login-form a{
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.login-form a:hover{
    color: aquamarine;
    transform: scale(1.05);
}

.exit-btn-container{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(128,128,128, 0.1);
    border: 2px solid white;
    position: absolute;
    top: 5px;
    left: 5px;
}

#exit-btn{
    width: 23px;
    height: 23px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
}

/* features */
.features-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100%;
    padding-top: 10px;
    gap: 50px;    
    align-items: center;
    justify-content: center;
    background-image: url(./images/feature.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.features-container div{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 300px;
    gap: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 0 20% 0 20%;
}

.features-container div h4{
    height: 30%;
}

.features-container div:hover{
    transform: scale(1.05);
}

/* contact */

.contact-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    background-color: aqua;
    border: 2px solid #1a1a1a;
    padding: 20px;
    background-image: url(./images/graffity.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 5px;
    gap: 200px;
    flex-wrap: wrap;
    border-collapse: collapse;
}

.contact-profile{   
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    background-color: aqua;
    text-align: center;
    border: 2px solid #fff;
    gap: 10px;
    padding: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 12px;
}

.contact-profile > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #fff;
}

.contact-other{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.contact-other > table{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid #1a1a1a;
    color: #fff;
    border: 2px solid #fff;
    border-collapse: collapse;
    border-radius: 12px;
}

th{
    height: 30px;
    border: 2px solid #fff;
}

td{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 100px;
    padding: 10px;
}

.icon{
    background-color: #fff;
    border-radius: 50%;
    transition: 0.5s;
}

.icon:hover{
    transform: scale(1.05);
}

.contact-other > form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #fff;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 100;
}

.form-input{
    margin-bottom: 10px;
    margin-top: 5px;
}

#contact-submit-btn{
    width: 70px;
    height: 30px;
    margin-top: 10px;
    margin: 10px auto;
    border-radius: 12px;
    border: 2px solid black;
}

#contact-submit-btn:hover{
    background-color: rgba(128, 128, 128, 0.8);
    color: #fff;
}

#message{
    height: 50px;
}

